# === 忽略 data 文件夹的所有内容 ===
/data/
# === 忽略整个 results 文件夹 ===
/results/
# === 忽略特定系统/开发环境文件 ===
/.vscode/
/.idea/
/.DS_Store
/.__pycache__
/.pyc

# === 忽略 Python 缓存、模型代码 ===
/src/__pycache__/
/aquacrop-master/